/* #input_country{
    display: inline-block;
    font-size: 20px;
    box-sizing: border-box;
    transition: 0.5s;
    background: #fff;
    width: 350px;
    height: 40px;
    border: none;
    outline: none;
    box-shadow: 0 10px 15px rgba(0,0,0,0.3);
    padding-left: 10px;
    border-radius: 25px;
    opacity: 0.8;
} */

#header-date{
    height:40px;
    color:white;
    background-color: #150e56;
    text-align: center;
    padding-top: 5px;
    font-size: 20px;
    font-weight: 700;
    font-family: sans-serif;
}

.btn-primary{
    height : 30px
}

.worldClass{
    text-align: center;
}

.search-option , .current-details {
    text-align: center;
}

.input-group{
    justify-content: center;
}

#world-results , #searched-country li{
    list-style:none;
}
#current-results{
    list-style:none;
}

.caseClass{
    color:rgb(108, 206, 206);
}

.deathClass{
    color:rgb(253, 69, 69);
}

.recoveredClass{
    color:rgb(33, 252, 33)
}

body{
    
    
    background-color :#1597bb;
    color:white;
    font-size:120%;
    font-family:cursive;
    
    
}

.background-body{
    /* background-image: url("img/4964635.jpg"); */
    /* background-repeat: no-repeat;
    background-size: cover; */
    /* height : 100vh; */
    /* width: 100vh; */
}